.titulo{
    color: white !important;
    font-weight: bold !important;
}
.imagem{
    height: 400px;
    width: auto;
}
.container{
    display: flex;
    justify-content: center;
}

.caixa {
    background-color: blueviolet;
}
.botao {
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens {
    background-color: blueviolet;
}