.titulo{
    color: white !important;
    font-weight: bold !important;
}
.imagem{
    height: 400px;
    width: auto;
}
.container{
    display: flex;
    justify-content: center;
}

.caixa {
    background-color: rgb(226, 43, 156);
}
.botao {
    border-color: white !important;
    background-color: #b53f92;
    color: white !important;
}

.postagens {
    background-color: rgb(226, 43, 198);
}