.box1{
    background-color: #b53f88;
    height: 120px;
}

.box2{
    background-color: #9f306d;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}

.text-decorator-none{
    text-decoration: none;
}